{% extends "SISCOSS/base.html" %}
{% load static %}

{% block title %}SISCOSS - Evaluar solicitud{% endblock %}

{% block content %}
    <div class="form-group">
		<form method="post">
			{% csrf_token %}
			<div class="form-group">
	        	<h4>Instirucion</h4>
	        	<p>{{ solicitud.institucion }}</p>
	    	</div>
	    	<div class="form-group">
	        	<h4>Tipo de servicio</h4>
	        	<p>{{ solicitud.tipo_servi_soli }}</p>
	    	</div>
	    	<div class="form-group">
	        	<h4>Fecha de realizacion</h4>
	        	<p>{{ solicitud.fecha_realizacion }}</p>
	    	</div>
	    	<div class="form-group">
	        	<label for="{{ form.estado_soli.id_for_label }}">{{ form.estado_soli.label }}</label>
	        	<div class="">{{ form.estado_soli }}</div>
	    	</div>
	    	<div class="form-group">
	        	<label for="{{ form.comentario.id_for_label }}">{{ form.comentario.label }}</label>
	        	<div class="">{{ form.comentario }}</div>
	    	</div>
	    	<br>
	    	<br>
	    	<div class="form-group">
	        	<p style="text-align:center;"><button type="submit" class="btn_trns mid ctao esp">Guardar</button></p>
	    	</div>
		</form>
</div>
{% endblock %}