	{% extends "SISCOSS/base.html" %}
	{% load static %}

	{% block title %}SISCOSS - Inicio{% endblock %}

	{% block content %}
	<style>
		body{
			overflow-y: hidden;
		}
	</style>
	<h2 style="text-align:center; padding-top: 10px;">Inicio</h2>
	<div class="row tama disable">
        <a href="{% url 'EstadoSolicitud' %}" class="btn md ctao bttn disp1"><p class="tal">Ver todas las solicitudes</p></a>
        <a href="{% url 'AsignarEncargadoEscuela' %}" class="btn md ctao bttn away"><p class="tal">Asignar encargado de servicio social por escuela</p></a>
        <a href="{% url 'Solicitud' %}" class="btn md ctao bttn away disp3"><p class="tal">Realizar una solicitud</p></a>
    </div>

    <div class="row tama">
        <a href="{% url 'SolicitudesRecibidas' %}" class="md ctao bttn disp1" style="text-decoration: none;"><p class="tal">Ver solicitudes recibidas</p></a>
        <a href="{% url 'ver_estado_soli' %}" class="btn md ctao bttn away"><p class="tal">Verificar el estado de mi solicitud</p></a>
        <a href="#" class="btn md ctao bttn away disp3"><p class="tal">En espera de mas vistas</p></a>
    </div>
	<script src="{% static 'SISCOSS/js/bootstrap.bundle.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	{% endblock %}
