{% extends "SISCOSS/base.html" %}
{% load static %}

{% block title %}SISCOSS - Inicio{% endblock %}

{% block content %}
<h2 style="text-align:center; padding-top: 10px;">Inicio</h2>
<div class="container">
	<br>
	<br>
	<h4>Introduccion:</h4>
	<p>SISCOSS es un sistema para solicitar y llevar el seguimiento de servicio social.</p>
	<br>
	<br>
	<h4>Como Institucion:</h4>
	<p>Usted prodrá enviar solicitudes de servicio social, las cuales pueden ser aceptadas o rechazadas.</p>
	<p>Cuando una Solicitud es aceptada puede ver si esta pendiente o aun no ha iniciado.</p>
	<br>
	<br>
	<h4>Como Encargado de facultad:</h4>
	<p>Usted prodrá ver las solicitudes realizadas para toda la facultad, pudiendo filtrar por carrera las solicitudes.</p>
	<p>Ademas de poder crear perfiles de maestros con toda su informacion correspondiente.</p>
	<br>
	<br>
	<h4>Como Proyección social:</h4>
	<p>Usted prodrá ver las solicitudes realizadas para toda la facultad, pudiendo filtrar por facultad las solicitudes.</p>
	<p>Ademas de poder crear perfiles de encargados de facultad con toda su informacion correspondiente.</p>
</div>
<script src="{% static 'SISCOSS/js/bootstrap.bundle.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
