{% extends "SISCOSS/base.html" %}
{% load static %}

{% block title %}SISCOSS - Ver solicitudes recibidas{% endblock %}

{% block content %}

<body>
  <div class="container py-5">
           
    <h3>Solicitudes recibidas</h3>     
    
    </br>
    </br>

    <div>
      <table class="table py-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Institucion</th>
            <th scope="col">Facultad</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Fecha de realizacion</th>
            <th scope="col">Estado</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% if object_list %}
          {% for solicitud in object_list %}
          <tr>
            <th>{{ solicitud.institucion.nombre_ins }}</th>
            <th>{{ solicitud.facultad_soli }}</th>
            <td>{{ solicitud.tipo_servi_soli.nombre_servi }}</td>
            <td>{{ solicitud.fecha_realizacion }}</td>
            <td>{{ solicitud.estado_soli.nombre_estado_soli }}</td>
            <td><a type="button" class="btn btn-sm btn-dark" href="{% url 'Evaluar' solicitud.id %}">Evaluar</a></td>
          </tr>
          {% endfor %}
            
          {% else %}
          <div class="alert alert-danger" role="alert">                
            No hay registros de solicitudes para mostrar                               	
          </div>

          {% endif %}
        </tbody>
      </table>
    </div>
    <a type="button" class="btn btn-sm btn-dark" href="{% url 'Inicio'%}">Regresar</a>

  </div>
</body>


<script src="{% static 'SISCOSS/js/bootstrap.bundle.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}