html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.bttn{
  text-align: center;
  width: 350px;
  height: 350px;
}

.bttn:hover{
  text-decoration: none;
  color: #FFFFFF;
}

.away{
  margin-left: 100px;
}

.tal{
  width: 300px;
  height: 300px;
  margin-top: 125px;
  margin-left: 10px;
  font-size: 1.8rem;
}

.tal2{
  margin-top: 50%;
  margin-bottom: 50%;
  margin-top: 50%;
  margin-bottom: 34.25%;
  font-size: 1.8rem;
}

.tal3{
  margin-top: 50%;
  margin-bottom: 47.25%;
  font-size: 1.8rem;
}

.tama{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left:4%;
}

.disabled {
  overflow-x: hidden;
}

.disp1{

}

.disp3{

}

@media screen and (max-width: 1290px) {
  .disp3{
    margin-top: 50px;
    margin-left: 200px;
  }
}

@media screen and (max-width: 840px) {
  .disp1{
    margin-left: 100px;
    margin-bottom: 25px;
  }

  .away{
    margin-left: 100px;
    margin-bottom: 25px;
  }

  .disp3{
    margin-top: 0px;
    margin-left: 100px;
  }
}